In [1]:
import pendulum
import pandas as pd

In [2]:
df = pd.read_csv("VSRR_Provisional_Maternal_Death_Counts_and_Rates.csv", header=0)
df.head()

,Data As Of,Jurisdiction,Group,Subgroup,Year of Death,Month of Death,Time Period,Month Ending Date,Maternal Deaths,Live Births,Maternal Mortality Rate,Footnote
0,4/14/2024,United States,Total,Total,2019,1,12 month-ending,1/31/2019,660,"3,787,776",17.4,NaN
1,4/14/2024,United States,Total,Total,2019,2,12 month-ending,2/28/2019,653,"3,783,489",17.3,NaN
2,4/14/2024,United States,Total,Total,2019,3,12 month-ending,3/31/2019,657,"3,771,682",17.4,NaN
3,4/14/2024,United States,Total,Total,2019,4,12 month-ending,4/30/2019,668,"3,772,235",17.7,NaN
4,4/14/2024,United States,Total,Total,2019,5,12 month-ending,5/31/2019,706,"3,767,999",18.7,NaN

In [3]:
#df["Month Ending Date"] = df["Month Ending Date"].astype(str)
#df["Month Ending Date"][0]
## Extract the day of the date using regular expressions
p = '(?<=/)(\d*)(?=/)'
df["Day"] = df["Month Ending Date"].str.extract(p)
df["Year of Death"] = df["Year of Death"].astype(int)
df["Day"] = df["Day"].astype(int)
df["Month of Death"] = df["Month of Death"].astype(int)

datetime_list = []
for i, row in df.iloc[0:].iterrows():
    year = row[4]
    month = row[5]
    day = row[12]
    datetime_object = pendulum.datetime(year, month, day)
    datetime_object = datetime_object.format('YYYY MM DD')
    datetime_list.append(datetime_object)

df["Month Ending Date as Datetime"] = datetime_list
#pendulum.datetime(row[0], row[1], row[2]) for row in df[["Year of Death", "Month of Death", "Day"]]

C:\Users\karen\AppData\Local\Temp\ipykernel_784\3997446119.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year = row[4]
C:\Users\karen\AppData\Local\Temp\ipykernel_784\3997446119.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  month = row[5]
C:\Users\karen\AppData\Local\Temp\ipykernel_784\3997446119.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  day = row[12]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Data As Of                     600 non-null    object
 1   Jurisdiction                   600 non-null    object
 2   Group                          600 non-null    object
 3   Subgroup                       600 non-null    object
 4   Year of Death                  600 non-null    int32
 5   Month of Death                 600 non-null    int32
 6   Time Period                    600 non-null    object
 7   Month Ending Date              600 non-null    object
 8   Maternal Deaths                533 non-null    object
 9   Live Births                    600 non-null    object
 10  Maternal Mortality Rate        494 non-null    float64
 11  Footnote                       106 non-null    object
 12  Day                            600 non-null    int32
 13  Month Ending Date as Datetime  600 non-null    object
dtypes: float64(1), int32(3), object(10)
memory usage: 58.7+ KB

In [5]:
df.head()

,Data As Of,Jurisdiction,Group,Subgroup,Year of Death,Month of Death,Time Period,Month Ending Date,Maternal Deaths,Live Births,Maternal Mortality Rate,Footnote,Day,Month Ending Date as Datetime
0,4/14/2024,United States,Total,Total,2019,1,12 month-ending,1/31/2019,660,"3,787,776",17.4,NaN,31,2019 01 31
1,4/14/2024,United States,Total,Total,2019,2,12 month-ending,2/28/2019,653,"3,783,489",17.3,NaN,28,2019 02 28
2,4/14/2024,United States,Total,Total,2019,3,12 month-ending,3/31/2019,657,"3,771,682",17.4,NaN,31,2019 03 31
3,4/14/2024,United States,Total,Total,2019,4,12 month-ending,4/30/2019,668,"3,772,235",17.7,NaN,30,2019 04 30
4,4/14/2024,United States,Total,Total,2019,5,12 month-ending,5/31/2019,706,"3,767,999",18.7,NaN,31,2019 05 31

### Using Pyspark and Regex

In [6]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.functions import lpad

In [7]:
spark = SparkSession.builder.appName("Maternal Mortality Data Processing").config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","10g").getOrCreate()

In [8]:
df_py = spark.read.csv('VSRR_Provisional_Maternal_Death_Counts_and_Rates.csv', header=True, escape="\"")

In [9]:
df_py.show(5,0)

+----------+-------------+-----+--------+-------------+--------------+---------------+-----------------+---------------+-----------+-----------------------+--------+
|Data As Of|Jurisdiction |Group|Subgroup|Year of Death|Month of Death|Time Period    |Month Ending Date|Maternal Deaths|Live Births|Maternal Mortality Rate|Footnote|
+----------+-------------+-----+--------+-------------+--------------+---------------+-----------------+---------------+-----------+-----------------------+--------+
|4/14/2024 |United States|Total|Total   |2019         |1             |12 month-ending|1/31/2019        |660            |3,787,776  |17.4                   |NULL    |
|4/14/2024 |United States|Total|Total   |2019         |2             |12 month-ending|2/28/2019        |653            |3,783,489  |17.3                   |NULL    |
|4/14/2024 |United States|Total|Total   |2019         |3             |12 month-ending|3/31/2019        |657            |3,771,682  |17.4                   |NULL    |
|4/14/2024 |United States|Total|Total   |2019         |4             |12 month-ending|4/30/2019        |668            |3,772,235  |17.7                   |NULL    |
|4/14/2024 |United States|Total|Total   |2019         |5             |12 month-ending|5/31/2019        |706            |3,767,999  |18.7                   |NULL    |
+----------+-------------+-----+--------+-------------+--------------+---------------+-----------------+---------------+-----------+-----------------------+--------+
only showing top 5 rows

In [10]:
### Extract the day part of the date since we need the day to concatenate columns to make a new column consisting of date 
### in String format Year-Month-Day because Pyspark's to_date method requires strings to be in Year-Month-Day format
df_py = df_py.withColumn("Day", regexp_extract(col("Month Ending Date"), "(?<=/)(\d*)(?=/)", 1))

In [11]:
### Check that there is a new column called 'Day'
df_py.dtypes

[('Data As Of', 'string'),
 ('Jurisdiction', 'string'),
 ('Group', 'string'),
 ('Subgroup', 'string'),
 ('Year of Death', 'string'),
 ('Month of Death', 'string'),
 ('Time Period', 'string'),
 ('Month Ending Date', 'string'),
 ('Maternal Deaths', 'string'),
 ('Live Births', 'string'),
 ('Maternal Mortality Rate', 'string'),
 ('Footnote', 'string'),
 ('Day', 'string')]

In [12]:
### Take a look at the distinct values under the 'Day' column
### Supposedly, the maximum number of days in a month is 31
df_py.select("Day").distinct().show(31,0)
### Looks like there are no days that are single digits, so no padding each single digit with a 0 in front is unnecessary

+---+
|Day|
+---+
|29 |
|30 |
|28 |
|31 |
+---+

In [19]:
### Take a look at the distinct values under the 'Month of Death' column
df_py.select("Month of Death").distinct().show(12,0)
### There are months that are represented by single digits, so pad each single digit month with a 0 in front

AttributeError: 'list' object has no attribute 'select'

In [20]:
### Pad each single-digit month with a 0 in front
## Change "Month of Death" column to integer type first
df_py = df_py.withColumn("Month", col("Month of Death").cast("int"))
## Documentation for padding each 1-digit month with a 0 in front:
## https://stackoverflow.com/questions/57959643/how-to-add-leading-zeroes-to-a-pyspark-dataframe-column#:~:text=Use%20format_string%20function%20to%20pad%20zeros%20in%20the%20beginning.&text=If%20the%20number%20is%20string,to%20cast%20it%20into%20integer%20.
df_py = df_py.withColumn("Month", lpad(col("Month"),2, "0"))
df_py.select("Month").collect()

AttributeError: 'list' object has no attribute 'withColumn'

In [15]:
### Cast 'Month' column back into a string
df_py = df_py.withColumn("Month", col("Month").cast("string"))
df_py.select("Month")

DataFrame[Month: string]

In [16]:
### Combine Month, Day and Year column to make a new 'Month Ending Date Cleaned' column (MM-dd-YYYY) of datatype String
df_py = df_py.withColumn("Month Ending Date (Cleaned)", concat_ws("-", col("Month"), col("Day"), col("Year of Death"))).collect()

In [17]:
### Change the new Month Ending Date (Cleaned) to date data type
#df_py.withColumn("Month Ending Date (Cleaned)",#
df_py.select("Subgroup").collect()

AttributeError: 'list' object has no attribute 'select'